

.header {
    border-bottom: 2px solid;
    padding: 10px;
    /* background: blue; */
    width: 91%;
    margin-left: 94px;

    p{  color:#006E50 ;
        font-size: 23px;
        padding-top: 29px;
        margin: 0;
        font-weight: 800;

        border-bottom: 6px solid;
    margin-bottom: -10px;
    width: fit-content;
    }
}