

.header {
    border-bottom: 3px solid;
    padding: 10px;
    /* background: blue; */
    width: 91%;
    margin-left: 94px;

    p{
        font-size: 23px;
        padding-top: 29px;
        margin: 0;
    }
}